
/* Remove the navbar's default margin-bottom and rounded borders */
.body{
    /*overflow:hidden;*/
}

#uNav {
    margin-bottom: 0;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

/*#navLi :hover*/
/*{*/
    /*color: #0d3625;*/
/*}*/

.dropbtn {
    background-color: #3e8e41; /*#50d07d;*/ /*#2ECC71;*/
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 128px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 128px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*z-index: 1;*/
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #E74C3C; /*#b2cecf;*/
    color:#fffcf5;
    text-decoration: none;
} /*#f1f1f1 #EC7063*/

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0288AD;
}

.bgAddEmployee{
    background-color: #9fa8a3; /*#4ABDAC;*/
    height:60px;
}

#emptitle {
    font-family: "Times New Roman", Georgia, Serif;
    margin-top: 10px;
    font-size: 22px;
}
 #footerid{
     border-color: #101010;
     background-color: #2B2B2B; /*#101010;*/
     color: whitesmoke;
     position:fixed;
     bottom:0px;
     height:60px;
     width:100%;
 }

#designersidebar{
    background-color: #9fa8a3;
    height: 100%;
}

.foottext{
    /*margin-top: ;*/
}